@font-face {
	font-family: 'drom';
	src:url('_/fonts/drom.eot?-2eldhb');
	src:url('_/fonts/drom.eot?') format('embedded-opentype'),
		url('_/fonts/drom.woff?-2eldhb') format('woff'),
		url('_/fonts/drom.ttf') format('truetype'),
		url('_/fonts/drom.svg?-2eldhb') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'drom';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu-th:before {
	content: "\e600";
}
.icon-arrow-right:before {
	content: "\2192";
}
.icon-arrow-left:before {
	content: "\2190";
}
.icon-angle-left:before {
	content: "\2039";
}
.icon-angle-right:before {
	content: "\203a";
}

.hamburger {
	position: relative;
	display: inline-block;
	width: 1.25em;
	height: 0.85em;
	margin-right: 0.3em;
	border-top: 0.2em solid #efe5c9;
	border-bottom: 0.2em solid #efe5c9;
}

.hamburger:before {
	content: "";
	position: absolute;
	top: 0.17em;
	left: 0px;
	width: 100%;
	border-top: 0.2em solid #efe5c9;
}

